.svg-icon--diagContinue {
	background-color: var(--color-link);
	mask-image: url("iconDiagContinue.svg");
	-webkit-mask-image: url("iconDiagContinue.svg");
	cursor: pointer;
}

.svg-icon--diagNext {
	background-color: var(--color-link);
	mask-image: url("iconDiagNext.svg");
	-webkit-mask-image: url("iconDiagNext.svg");
	cursor: pointer;
}

.svg-icon--diagEnd {
	background-color: var(--color-dialogue--end);
	mask-image: url("iconDiagEnd.svg");
	-webkit-mask-image: url("iconDiagEnd.svg");
}

.svg-icon--diagContinue:hover,
.svg-icon--diagContinue:focus,
.svg-icon--diagContinue:active,
.svg-icon--diagNext:hover,
.svg-icon--diagNext:focus,
.svg-icon--diagNext:active {
	background-color: var(--color-link--highlight);
}
