/**
 * Side loaded styles for the ItemDialog functionality.
 * Note: since the ItemDialog requires javascript functionality, these styles are only side loaded when javascript is supported.
 */

/*================ Classes ================*/

table[data-item-popup] tr[id] td:first-child img {
  pointer-events: all;
  cursor: pointer;
}

.item-dialog--wrapper {
  position: absolute;
  display: flex;
  top: calc(48% - 190px);
  left: calc(50%);
  transform: translateX(-50%);
  width: 370px;
  max-width: calc(100vw - 1em);
  height: fit-content;
  transition: opacity .375s ease-in;
  justify-content: center;
  align-items: center;
}

.item-dialog--wrapper-wide {
  width: 535px;
}

.item-dialog--title {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 16px;
  
  font-size: 1.2em;
  font-weight: normal;
  color: #847a67;
  background-color: black;
}

.item-dialog--title-decoration {
  position: absolute;
  top: 2px;
  left: 0;
  width: 9px;
  height: 18px;
  background-image: url(sectionTitle.png);
  background-position-x: 0;
}
.item-dialog--title-decoration:last-child {
  left: unset;
  right: 0;
  background-position-x: -9px;
}

.item-dialog {
  width: 100%;
  height: 100%;
  padding: 0 1em 1.5em;
  background-color: var(--color-bg);
  border-radius: 34px;
}

@media only screen and (max-width: 919px) {
  .item-dialog--wrapper {
    border: 1px solid var(--color-border--highlight);
  }
  
  .item-dialog {
    border-radius: 10px;
  }
}

.item-dialog a {
  color: var(--color-text);
}

.item-dialog a:hover,
.item-dialog a:focus,
.item-dialog a:active {
  color: var(--color-link--highlight);
}

.item-dialog--image {
  margin: 2em auto 0;
}
.item-dialog p {
  letter-spacing: 0.05em;
}

.item-dialog-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 21px;
  height: 21px;
  background: none;
  border: none;
  cursor: pointer;
}