/*================ Root Declarations ================*/

:root {
	--color-bg: #000000;
	--color-bg--light: #0a0a0a;
	--color-bg--target: #3f3213;
	
	--color-text: #a9a8a5;
	--color-text--subdued: #4c4c4c;
	
	--color-link: #cca43d;
	--color-link--highlight: #ffcd4d;
	--color-link--visited: #8c702a;
	
	--color-border: #0c0c0c;
	--color-border--highlight: #191919;
	
	--color-dialogue--end: #b80000;
}

/*================ Keyframes ================*/

@keyframes highlight-blink {
	from { background-color: var(--color-bg--target); }
	to   {}
}

@keyframes card-flip--front {
	0%   { transform: translate(-50%, -100vh) rotate(0deg) rotateY(-180deg); animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
	35%  { transform: translate(-50%, -50%) rotate(0deg) rotateY(-180deg); animation-timing-function: linear; }
	
	44%  { transform: translate(-50%, -50%) rotate(0deg) rotateY(-180deg); animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
	74%  { transform: translate(-50%, -50%) rotate(-18deg) rotateY(-90deg); animation-timing-function: linear; }
	97%  { transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg); animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
	100% { transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg); animation-timing-function: linear; }
}

@keyframes card-flip--back {
	0%   { transform: translate(-50%, -100vh) rotate(0deg) rotateY(0deg); animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1); }
	35%  { transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg); animation-timing-function: linear; }
	
	44%  { transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg); animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
	74%  { transform: translate(-50%, -50%) rotate(-18deg) rotateY(90deg); animation-timing-function: linear; }
	97%  { transform: translate(-50%, -50%) rotate(0deg) rotateY(180deg); animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
	100% { transform: translate(-50%, -50%) rotate(0deg) rotateY(180deg); animation-timing-function: linear; }
}

/*================ Tags ================*/

*, html, body {
	margin: 0;
  box-sizing: border-box;
	font-family: sans-serif;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
	min-height: 100vh;
	background-color: var(--color-bg);
	color: var(--color-text);
}

header {
	margin: 26px 8px 22px;
}

main {
	position: relative;
}

.footer {
	padding: 1em;
	border-top: 1px solid var(--color-border--highlight);
	background-color: var(--color-bg--light);
	color: var(--color-text--subdued);
	text-align: center;
	font-size: 0.8em;
}

section {
	margin: 0 8px 3em;
}

section section {
	margin: 0 0 3em;
}

h1 {
	font-size: 2.5em;
	text-align: center;
	margin-bottom: 0.25em;
}

h2 {
	margin: 2em 0 0.9em;
}

h2:first-child {
	margin-top: 0;
}

h3,
h4 {
	margin: 1.5em 0 0.25em;
}

@media only screen and (max-width: 919px) {
	h1 {
		font-size: 2em;
	}
	
	h2 {
		font-size: 1.5em;
		text-align: center;
	}
	
	h3 {
		font-size: 1.25em;
	}
	
	h4 {
		font-size: 1em;
	}
}

a {
	color: var(--color-link);
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: var(--color-link--highlight);
}

a:visited {
	color: var(--color-link--visited);
}

blockquote {
	font-style: italic;
	text-align: center;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border: 1px solid var(--color-border--highlight);
	border-top-color: var(--color-border);
	border-left-color: var(--color-border);
}

th,
td {
	text-align: left;
	border: 1px solid var(--color-border--highlight);
	border-right-color: var(--color-border);
	border-bottom-color: var(--color-border);
	padding: 3px;
}

tr:nth-child(odd) {
	background-color: var(--color-bg);
}

tr:nth-child(even) {
	background-color: var(--color-bg--light);
}

td:first-child {
	white-space: nowrap;
}

tr[id] td:first-child {
	position: relative;
	padding-right: 1.2em;
}

@media only screen and (max-width: 919px) {
	table, thead, tbody, th, td, tr {
		display: block;
		border-left: none;
		border-right: none;
	}
	
	tr {
		margin: 0 0 1rem 0;
	}
	
	td {
		position: relative;
		min-height: 1em;
		padding: calc(8px + 0.7em) 3px 3px 10px;
		border: 1px solid var(--color-border--highlight);
		border-top: 1px solid var(--color-border);
		border-bottom: 1px solid var(--color-border--highlight);
	}
	
	td::before {
		position: absolute;
		top: 2px;
		left: 2px;
		padding-right: 10px;
		font-size: 0.7em;
		white-space: nowrap;
	}
	
	td:nth-of-type(1)::before { content: var(--column-01-header); }
	td:nth-of-type(2)::before { content: var(--column-02-header); }
	td:nth-of-type(3)::before { content: var(--column-03-header); }
	td:nth-of-type(4)::before { content: var(--column-04-header); }
	
	li {
		min-width: 400px;
	}
}

p {
	margin: 16px 0;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

hr {
	border-color: var(--color-border--highlight);
}

ul {
	margin: 16px 0;
}

ul ul {
	margin: 0;
}

/*================ Classes ================*/

.tooltip {
	position: relative;
  margin-right: -2px;
	padding: 0 2px 6px 2px;
	color: var(--color-link);
	font-size: 0.75em;
}

.tooltip-text {
	display: none;
	position: absolute;
	width: 150px;
	top: 0;
	left: 0;
	margin: 4px 0 0 10px;
	padding: 4px;
	border: 1px solid var(--color-border--highlight);
	border-radius: 5px;
	border-top-left-radius: 0;
	background-color: var(--color-bg--light);
	color: var(--color-text);
}

.tooltip:hover .tooltip-text,
.tooltip:active .tooltip-text {
	display: block;
}

@media only screen and (max-width: 919px) {
	.visually-hidden--mobile {
		position: absolute !important;
		overflow: hidden;
		clip: rect(0 0 0 0);
		height: 1px;
		width: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

.svg-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-size: contain;
	mask-size: contain;
}

.exanima-logo {
	margin: -35px auto -45px;
	max-width: 100vw;
	height: auto;
}

.scrollToTop {
  position: absolute;
  top: calc(100vh - 200px - 1em);
  bottom: 0;
  right: 1em;
  pointer-events: none;
}

.scrollToTopLink,
.scrollToTopLink:visited {
	display: flex;
  position: sticky;
	top: calc(100vh - 45px - 1em);
	width: 44px;
	height: 44px;
	border: 1px solid var(--color-border--highlight);
	border-radius: 50%;
	background-color: var(--color-bg--light);
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

.scrollToTopLink:hover,
.scrollToTopLink:focus,
.scrollToTopLink:active {
	border: 1px solid var(--color-text--subdued);
	background-color: var(--color-border--highlight);
}

.scrollToTopArrow {
	width: 19px;
	height: 19px;
	margin: 3px 0 -3px;
	border: 4px solid var(--color-text--subdued);
	border-bottom: none;
	border-right: none;
	transform:rotate(45deg);
}

.scrollToTopLink:hover .scrollToTopArrow,
.scrollToTopLink:focus .scrollToTopArrow,
.scrollToTopLink:active .scrollToTopArrow {
	border-color: var(--color-text);
}

@media only screen and (min-width: 920px) {
	.fancy-border {
		--border-image-padding: 3px;
		margin: 10px var(--border-image-padding) 40px;
		border: 16px solid transparent;
		border-image: url(sectionCorners.png) 56 / 56px / var(--border-image-padding);
		width: calc(100% - var(--border-image-padding) * 2);
	}
	
	.fancy-border tr:first-child th {
		padding-top: 20px;
	}
	
	.fancy-border tr:first-child th,
	.fancy-border tr:first-child td {
		padding-bottom: 16px;
		border-top: none;
	}
	
	.fancy-border tr:first-child th:first-child,
	.fancy-border tr:first-child td:first-child {
		border-top-left-radius: 47px;
	}
	
	.fancy-border tr:first-child th:last-child,
	.fancy-border tr:first-child td:last-child {
		border-top-right-radius: 47px;
	}
	
	.fancy-border th:last-child,
	.fancy-border td:last-child {
		padding-right: 20px;
		border-right: none;
	}
	
	.fancy-border th:first-child,
	.fancy-border td:first-child {
		padding-left: 20px;
		border-left: none;
	}
	
	.fancy-border tr:last-child th,
	.fancy-border tr:last-child td {
		padding-bottom: 8px;
		border-bottom: none;
	}
	
	.fancy-border tr:last-child th:first-child,
	.fancy-border tr:last-child td:first-child {
		border-bottom-left-radius: 47px;
	}
	
	.fancy-border tr:last-child th:last-child,
	.fancy-border tr:last-child td:last-child {
		border-bottom-right-radius: 47px;
	}
	
	.first-column-centered--desktop td:first-child {
		text-align: center;
	}
}

.no-decoration,
.no-decoration:visited {
	text-decoration: none;
	color: var(--color-text);
}

.no-entries,
.removed-from-game td {
	text-decoration: line-through;
	color: var(--color-text--subdued);
}

.quoted-writing {
	font-style: italic;
}

.centered {
	text-align: center;
}

/* hash targets */
ul:target,
tr:target {
	background-color: var(--color-bg--target);
	scroll-margin-top: 104px;
}

section.anim-highlight-blink,
section.anim-highlight-blink th,
section.anim-highlight-blink td {
	scroll-margin-top: 3em;
	animation-name: highlight-blink;
	animation-duration: 1s;
	animation-timing-function: ease-in;
}

/* in-game objects image sprite */
.sprite {
	--scale: 0.6;
	display: block;
	width: var(--width);
	height: var(--height);
	margin: 3px auto calc(var(--height) * -1 + var(--scale) * var(--height) + 8px);
	object-fit: none;
	transform-origin: top center;
	transform: scale(var(--scale));
	pointer-events: none;
}

@media only screen and (max-width: 919px) {
	.sprite {
		display: none;
	}
}

.sprite--book-01 {
	object-position: 0 0;
	--width: 178px;
	--height: 176px;
}

.sprite--book-02 {
	object-position: 0 -176px;
	--width: 178px;
	--height: 175px;
}

.sprite--life-of-linus-fendrick,
.sprite--the-guardians-wrath,
.sprite--the-ways-of-the-thaumaturge {
	object-position: 0 -351px;
	--width: 165px;
	--height: 163px;
}

.sprite--deconstructing-humanity {
	object-position: 0 -513px;
	--width: 166px;
	--height: 162px;
}

.sprite--book-03 {
	object-position: -178px 0;
	--width: 164px;
	--height: 167px;
}

.sprite--forgotten {
	object-position: -178px -167px;
	--width: 162px;
	--height: 160px;
}

.sprite--book-04 {
	object-position: -178px -327px;
	--width: 156px;
	--height: 172px;
}

.sprite--ghosts,
.sprite--the-guardian-of-the-underworld {
	object-position: -178px -499px;
	--width: 153px;
	--height: 163px;
}

.sprite--journal {
	object-position: -342px 0;
	--width: 160px;
	--height: 137px;
}

.sprite--book-05 {
	object-position: -342px -137px;
	--width: 152px;
	--height: 174px;
}

.sprite--book-06 {
	object-position: -342px -311px;
	--width: 151px;
	--height: 177px;
}

.sprite--book-07 {
	object-position: -342px -488px;
	--width: 151px;
	--height: 177px;
}

.sprite--binding-of-the-dead {
	object-position: -502px 0;
	--width: 151px;
	--height: 147px;
}

.sprite--the-forgotten-powers {
	object-position: -502px -147px;
	--width: 145px;
	--height: 154px;
}

.sprite--book-08 {
	object-position: -502px -301px;
	--width: 143px;
	--height: 173px;
}

.sprite--old-parchment {
	object-position: -502px -474px;
	--width: 151px;
	--height: 77px;
}

.sprite--parchment {
	object-position: -502px -551px;
	--width: 125px;
	--height: 102px;
}

/* diviner's deck */
.divinersDeckCards {
	display: grid;
	padding: 0 1em;
	grid-auto-flow: row;
	grid-template-columns: repeat(auto-fill, 190px);
	grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	justify-content: space-around;
}

.divinersDeckCard {
	min-width: 0;
	text-align: center;
	list-style: none;
}

.divinersDeckCard img {
	display: block;
	width: 100%;
	height: calc(100% - 1em - 8px);
	margin-bottom: 4px;
	object-fit: contain;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
	transition: opacity 0.75s ease-in;
}

.overlay--closeBtn {
	position: absolute;
	top: 2px;
	right: 4px;
	font-size: 30px;
	cursor: pointer;
}

.card-wrapper {
	position: absolute;
	top: calc(48% - 400px);
	left: calc(50% - 240px);
	width: 480px;
	height: 800px;
	transition: opacity 0.375s ease-in;
}

@media only screen and (max-width: 919px) {
	.card-wrapper {
		top: calc(50% - 392px);
	}
}

.card-front,
.card-back {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 480px;
	height: auto;
	max-width: calc(100vw - 1em);
	backface-visibility: hidden;
	border-radius: 20px;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
	animation-duration: 1.65s;
	animation-fill-mode: forwards;
	animation-delay: 0.1s;
}

.card-back {
	transform: translate(-50%, -100vh) rotateY(-180deg);
	animation-name: card-flip--back;
}

.card-front {
	transform: translate(-50%, -100vh);
	animation-name: card-flip--front;
}

/* dialogue */
.svg-icon--next {
	margin: 0 0 -6px -3px;
	background-color: var(--color-link);
	-webkit-mask-image: url(iconNext.svg);
	mask-image: url(iconNext.svg);
}

.svg-icon--next:hover,
.svg-icon--next:focus,
.svg-icon--next:active {
	background-color: var(--color-link--highlight);
}

.svg-icon--next:visited {
	background-color: var(--color-link--visited);
}

.svg-icon--continued {
	margin: 0 3px 0 -3px;
	background-color: var(--color-link);
	-webkit-mask-image: url(iconContinued.svg);
	mask-image: url(iconContinued.svg);
}

.svg-icon--continued:hover,
.svg-icon--continued:focus,
.svg-icon--continued:active {
	background-color: var(--color-link--highlight);
}

.svg-icon--continued:visited {
	background-color: var(--color-link--visited);
}

.svg-icon--end {
	width: 0.8em;
	height: 0.8em;
	margin: 0 0 -2px -1px;
	background-color: var(--color-dialogue--end);
	-webkit-mask-image: url(iconEnd.svg);
	mask-image: url(iconEnd.svg);
}

.dialogue-pc,
.dialogue-npc {
	font-weight: bold;
}

.dialogue-pc::after,
.dialogue-npc::after {
	content: ":";
}
