/*================ Root Declarations ================*/

:root {
	--color-bg: #000000;
	--color-bg--target: #3f3213;
	
	--color-text: #a9a8a5;
	--color-text--subdued: #4c4c4c;
	
	--color-link: #cca43d;
	--color-link--highlight: #ffcd4d;
	--color-link--visited: #8c702a;
	
	--color-border: #191919;
	--color-border--highlight: #0c0c0c;
	--color-table-row--odd: var(--color-bg);
	--color-table-row--even: #0a0a0a;
	
	--color-dialogue--end: #b80000;
}

/*================ Keyframes ================*/

@keyframes highlight-blink {
	from {
		background-color: var(--color-bg--target);
	}
	
	to {
		background-color: var(--color-bg);
	}
}

/*================ Tags ================*/

*, html, body {
	font-family: sans-serif;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
}

h1 {
	font-size: 2.5em;
	text-align: center;
	margin-bottom: 0.25em;
}

h2 {
	margin-top: 2em;
}

h2:first-child {
	margin-top: 0;
}

h3,
h4 {
	margin: 1.5em 0 0.25em;
}

a {
	color: var(--color-link);
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: var(--color-link--highlight);
}

a:visited {
	color: var(--color-link--visited);
}

blockquote {
	font-style: italic;
	text-align: center;
}

section {
	margin-bottom: 3em;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border: 1px solid var(--color-border);
	border-top-color: var(--color-border--highlight);
	border-left-color: var(--color-border--highlight);
}

th,
td {
	text-align: left;
	border: 1px solid var(--color-border);
	border-right-color: var(--color-border--highlight);
	border-bottom-color: var(--color-border--highlight);
	padding: 3px;
}

tr:nth-child(odd) {
	background-color: var(--color-table-row--odd);
}

tr:nth-child(even) {
	background-color:  var(--color-table-row--even);
}

th,
td {
	text-align: left;
	border: 1px solid var(--color-border);
	padding: 3px;
}

td:first-child {
	white-space: nowrap;
}

tr[id] td:first-child {
	position: relative;
	padding-right: 1.2em;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

hr {
	border-color: var(--color-border);
}

/*================ Classes ================*/

.exanima-logo {
	margin: -35px auto -45px;
}

.no-decoration,
.no-decoration:visited {
	text-decoration: none;
	color: var(--color-text);
}

.no-entries {
	text-decoration: line-through;
	color: var(--color-text--subdued);
}

.written-document {
	font-style: italic;
}

.dialogue-next,
.dialogue-continue {
	text-decoration: none;
}

.dialogue-next:after {
	content: "⤵";
	color: var(--color-link);
	font-weight: bold;
}

ul:target,
tr:target {
	background-color: var(--color-bg--target);
	scroll-margin-top: 104px;
}

section:target {
	animation-name: highlight-blink;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

.dialogue-continue:before {
	content: "⤷ ";
	color: var(--color-link);
	font-weight: bold;
}

.dialogue-end:after {
	color: var(--color-dialogue--end);
	content: "✖";
	font-size: 0.85em;
}

.dialogue-pc,
.dialogue-npc {
	font-weight: bold;
}

.dialogue-pc:after,
.dialogue-npc:after {
	content: ":";
}

.footer {
	margin-bottom: -4px;
	text-align: right;
	font-size: 0.8em;
}
