/**
 * Side loaded styles for the SpoilerWarning functionality.
 * Note: since the SpoilerWarning requires javascript functionality, these styles are only side loaded when javascript is supported.
 */

/*================ Classes ================*/

.overlay--blur {
  backdrop-filter: blur(16px);
  z-index: 2;
}

.spoiler-warning--wrapper {
  position: absolute;
  display: flex;
  top: calc(48% - 190px);
  left: calc(50%);
  transform: translateX(-50%);
  width: 700px;
  max-width: calc(100vw - 1em);
  height: 380px;
  transition: opacity .375s ease-in;
  justify-content: center;
  align-items: center;
}

.spoiler-warning--title {
  font-size: 2.7em;
  font-style: italic;
  font-weight: normal;
  margin: 1.4em 0 1em;
}

.spoiler-warning {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--color-bg);
  border-radius: 34px;
}

@media only screen and (max-width: 919px) {
  .spoiler-warning--wrapper {
    border: 1px solid var(--color-border--highlight);
  }
  
  .spoiler-warning {
    border-radius: 10px;
  }
}

.spoiler-warning-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 21px;
  height: 21px;
  background: none;
  border: none;
  cursor: pointer;
}

.spoiler-warning--btn {
  margin-top: 2em;
  padding: 10px 16px;
  border: 1px solid var(--color-border--highlight);
  border-radius: 5px;
  font-size: 1.0em;
  background-color: var(--color-bg--light);
  color: var(--color-text);
}

.spoiler-warning--btn:hover,
.spoiler-warning--btn:focus {
  color: var(--color-text--bright);
  border-color: var(--color-text--subdued);
}

.spoiler-warning--btn:active {
  margin: calc(2em + 1px) 0 0 1px;
  color: var(--color-text--subdued);
  border-color: var(--color-border);
}
