<!DOCTYPE html>
<html lang="en" id="documentElement">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="The Lore of Exanima: a catalogue of all known pieces of lore, written or otherwise, in a well structured document. Those who would enter the underworld shall not only forfeit their lives, but bring oblivion to all mankind.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="images/x-icon" href="resources/favicon.png">
    <link rel="stylesheet" href="resources/main.min.css">
    <script src="resources/main.min.js" defer></script>
  </head>
  <body>
		{% include header.html %}
		{{ content }}
		{% include footer.html %}
  </body>
</html>
