<section id="Table_of_Contents">
  <h2>Table of Contents</h2>
  
  <ul class="toc">
    <li><a href="#Documents">Documents</a>
      <ul>
        <li><a href="#Level_1">Level 1</a></li>
        <li><a href="#Level_2">Level 2</a></li>
        <li><a href="#Level_3">Level 3</a></li>
        <li><a href="#Council">Council (Archives)</a></li>
        <li><a href="#Crossroads">Crossroads</a></li>
        <li><a href="#Markets">Markets</a></li>
        <li><a href="#Sewers_below_the_Markets">Sewers below the Markets</a></li>
        <li><a href="#Gentry">Gentry</a></li>
        <li><a href="#Golems_and_Foundry">Golems and Foundry</a></li>
        <li><a href="#Arena_Hub">Arena Hub</a></li>
      </ul>
    </li>
    <li><a href="#People_and_Places">People and Places</a></li>
    <li><a href="#Relevant_Objects">Relevant Objects</a></li>
    <li><a href="#Diviners_Deck">Diviners Deck</a></li>
    <li><a href="#Dialogues">Dialogues</a></li>
  </ul>
</section>